
$beakpoint-lg: 1200px;

.App {
    text-align: center;
}

.containerMain {
    width: 100%;
}

.background {
    background-image: url(../background.png);
    background-size: 100% 700px;
    background-position: top;
    background-repeat: repeat-y;
    min-height: 1900px;

    @media screen and (min-width: $beakpoint-lg) {
        background-size: 100% 1500px;
      }
}

.posicao-imagens {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


.imagens-pagina {
    position: relative;
    width: 300px;
    height: 300px;
    border: white solid 12px;
    margin: 10px;
}
