@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$breakpoint-lg: 1200px;
$breakpoint-sm: 850px;
$cor-primaria: #068f41;
$cor-secundaria: #5c5b5b;
$montserrat: Montserrat, sans-serif;


.App {
    text-align: center;
}

.mainContainer {
    width: 100%;
    background-image: url(../background.png);
    background-size: 100% 700px;
    background-position: top;
    background-repeat: repeat-y;
    min-height: 1900px;

    @media screen and (min-width: $breakpoint-lg) {
        background-size: 100% 1500px;
      }
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    width: 600px;
    margin: 50px 20px;
    padding: 10px 30px;
    font-size: 1.2rem;
    border-radius: 25px;
    font-family: $montserrat;


    &:focus {
        box-shadow: (0, 0, 0, 0.1) 0px 10px 15px;
        border-color: $cor-secundaria;
    }
}

.button {
    border: none;
    width: 45px;
    height: 45px;
    background-color: transparent;
    font-size: 35px;

    &:hover{
        color: $cor-primaria;
    }  
}

.favorite-button {
    border: none;
    width: 45px;
    height: 45px;
    background-color: transparent;
    font-size: 35px;

    &:hover{
        color: red;
    } 
}

.totalImagens {
    font-family: $montserrat;
    font-size: 1rem;
    font-weight: bold;
    position:absolute;
    left: 50px;
    margin-bottom: 20px;
}

.posicao-imagens {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 0;

    img {
        width: 300px;
        height: 300px;
        margin: 10px;
        object-fit: cover;
        object-position: center;
        border-radius: 10px;
    }
}

#imagens {
    position: relative;
    float: left;
}

.texto-imagem {
    display: flex;
    width:94%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    left: 10px; 
    bottom: 13px;
    border-radius: 10px;
    margin-top: -25%; 
    color: white;

    .estilo-texto {
        font-family: $montserrat;
    }
}

.logo {
    height: 250px;
    width: 250px;
    margin-left: 25px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    color: white;
    height: 10rem;
    padding: 0 50px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px;
}

.nav-links {
    display: none;

    @media screen and (min-width: $breakpoint-sm) {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 75%;
    font-family: $montserrat;
  }
}

.nav-links-mobile {
    font-family: $montserrat;
    font-size: 1.3rem;
    line-height: 60px;
    border: black 1px solid;
    position: absolute;
    display: block;
    list-style: none;
    background-color: white;
    top: 100px;
    transition: all 0.5s ease-out;
    width: 90%;  
}

.home a,
.contato a,
.favoritos a {
    color: $cor-secundaria;
    text-align: center;
    width: 100%;
    transition: all 0.5s ease;
    text-decoration: none;

    @media screen and (min-width: $breakpoint-sm) {
    text-decoration: none;
    color: $cor-secundaria;
    font-size: 20px;
    padding: 10px 20px;
    margin: 0 12px;
    cursor: pointer;

    &:hover{
        color: $cor-primaria;
    }
    }
}

.mobile-menu-icon {
    display: flex;
    font-size: 30px;
    color: $cor-secundaria;
    background-color: white;
    border: none;
    outline: none;
    margin-right: 30px;

    @media screen and (min-width: $breakpoint-sm) {
        display: none;
    }
}

.flex-button button {
    font-family: $montserrat;
    width: 250px;
    font-size: 20px;
    margin-bottom: 30px;
}

.containerFooter {
    height: 200px;
    background-color: $cor-primaria;
    font-family: $montserrat;
    display: flex;
    flex-direction: column;
    justify-content: center;

    a {
        text-decoration: none;
        color: white;
        margin-top: 20px;
    }

    p {
        margin: 20px;
        color: white;

        i {
            color: red;
            font-size: 22px;
        }
    }
}